@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {

       font-family: 'Roboto', sans-serif;
}

header, footer {
    height: 70px;
    background-color: #1f2937;
    font-size: ;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.headerlinks {
    display: flex;
    padding: 5px;
    justify-content: space evenly;
}

.logo {
    padding: 10px;
    width: 100px;
    margin: 10px;
    font-size: 24px;
}
.headerlink {
    padding: 10px;
    width: 100px;
    margin: 10px;}

.button {
    display: flex;
    background-color: #3882F6;
    border-radius: 8%;
    width: 80px;
    padding: 5px;
}


.blok1 {
    background-color: #1f2937;
    background-size: stretch;
    background-position: center;
    color: #fff;
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
}

.tekst1 {
    font-size: 48px;
    font-weight: 900;
}
.minstrel {
    background-color: #1f2937;
    width: 500px;
}

.blok2 {
}

.blok2a {
    padding:10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.plaatjes {
    padding: 5px;
    margin-top: 50px;
    width: 200px;
    height: 300px;
    border-radius: 8%;
}

.blok3 {
    background-color: #e5e7eb;
    padding: 5 px;
    flex-direction: column;
    display: flex;
    align-items: center;
} 

.blok4 {
    width: 500px;
    padding: 20px 100px 20px;
    box-sizing: border-box;
    color: #fff;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    margin: 50px 100px;
}

.blok4a {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}


.footer {
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
}